body{
	background: linear-gradient(to right, white, grey);
	background-size: cover;
	background-position: fixed;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	}
header {
	position: fixed;
	width: 100%;
	top: 0px;
	background: linear-gradient(grey, white, grey);
}
li {
	display: inline;
	font-size: 1.5em;
}
a {
	margin-bottom: 100px;
	margin-top: 100px;
}
#profile {
	border-radius: 50%;
	width: 40%;
	}
img {
	width: 50%;
	border-radius: 2%;
	margin: 5%;
	margin-right: auto;
	margin-left: auto;
}
#asteroidsSS {
 	width: 75%;
}
#paulInShop {
	width: 75%;
}
#deciderImg {
	width: 30%;
	position: right;
	margin-right: 5%;
}
#deciderText {
	width: 45%;
	position: left;
	margin: 5%;
}
.icon {
	width: 15%; 
	position: left;
}
#front {
	float: right;
	margin-bottom: 30%;
}
#back {
	float: left;
	margin-bottom: 30%;
}
p {
	text-align: left;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
}
h1 {
	font-size: 4em;
	font-family: serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
h2 {
	font-size: 3em;
}
table, tr, td {
	font-size: 1.1em;
}
table {
	width: 90%;
}
th {
	font-size: 1.15em;
	text-decoration: underline;
}
td {
	text-align: center;
}
#email {
	display: none;
}
