body{
	background: linear-gradient(to right, white, grey);
	background-size: cover;
	background-position: fixed;
	text-align: center;
	padding: 0px;
	margin: 2%;
	font-family: sans-serif;
	}
header {
	position: fixed;
	width: 100%;
	top: 0px;
	background: linear-gradient(grey, white, grey);
	z-index: 1;
}
li {
	display: inline;
	font-size: 1.5em;
	font-weight: bold;
}
a {
	margin-bottom: 100px;
	margin-top: 100px;
	color: black;
/*	font-size: 1.2em;*/
}
img {
	border-radius: 2%;
	margin-top: 4%;
	margin-bottom: 2%;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}
p {
	text-align: left;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
}
h1 {
	font-size: 4em;
	font-family: serif;
	margin-top: 0%;
	margin-bottom: 5%;
	margin-top: 10%;
}
h2 {
	font-size: 3em;
	margin-top: 15%;
}
table, tr, td {
	font-size: 1.1em;
}
table {
	width: 100%;
}
th {
	font-size: 1.15em;
	text-decoration: underline;
}
td {
	text-align: left;
	padding-left: 5%;
}
.viewport {

}
#profile {
	border-radius: 50%;
	width: 40%;
}
#asteroidsSS {
 	width: 80%;
}
#paulInShop {
	width: 100%;
}
#prepperSS {
	width: 60%;
}
#deciderImg {
	width: 30%;
	position: right;
	margin-right: 5%;
}
#deciderText {
	width: 45%;
	position: left;
	margin: 5%;
}
#front {
	float: right;
	margin-bottom: 30%;
}
#back {
	float: left;
	margin-bottom: 30%;
}
#email {
	display: none;
	text-align: center;
}
#showEmail {
	font-size: 1.25em;
}
.icon {
	width: 15%; 
	position: left;
}
