
body{
	background: linear-gradient(to right, white, grey);
	text-align: center;
	font-family: sans-serif;
    overflow-x: hidden; 
	}
header {
	position: fixed;
	width: 100%;
	top: 0px;
	background: linear-gradient(grey, white, grey);
	z-index: 1;
}
li {
	display: inline;
	font-size: 2em; 
	font-size: 3vmin;
	font-weight: bold;
	vertical-align: middle;
	line-height: 40px;
	}
a {
	margin-bottom: 100px;
	margin-top: 100px;
	color: black;
}
img {
	border-radius: 2%;
	margin-top: 4%;
	margin-bottom: 2%;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}
p {
	text-align: left;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
}
h1 {
	font-size: 4em; font-size: 12vmin;
	font-family: serif;
	margin-bottom: 5%;
	margin-top: 10%;
}
h2 {
	font-size: 3em;
	margin-top: 15%;
}
table, tr, td {
	font-size: 1.1em;
}
table {
	width: 100%;
	margin-left: 1%;
}
th {
	font-size: 1.15em;
	text-decoration: underline;
}
td {
	text-align: left;
	padding-left: 5%;
}
#dev
 {
 	font-size: 3.5em;
 	margin-top: 5%;
	margin-bottom: 5%;
}
#profile {
	border-radius: 50%;
	width: 40%;
}
#paulInShop {
	width: 100%;
}
#email {
	display: none;
	text-align: center;
}
#showEmail {
	font-size: 1.25em;
}
.icon {
	width: 15%; 
	position: left;
}
/*@media only screen and (max-width: 500px){

	li {
		display: inline;
		font-size: 1.4em; 
		font-size: 5vmin;
		line-height: 50px;
	}
	body{
		margin-top: 70px;
	}
	p {
		width: 95%;
		margin-top: 5%;
	}
	img {
		width: 95%;
	}
	#showEmail {
		font-size: 1.5em; 
		font-size: 5.5vmin;
		padding-bottom: 10px;
	}
}*/