#playerInfo {
	float: right;
	text-align: right;
	color: white;
	padding-right: 25px;
}
body {
	background-color: d3d3d3;
	margin-top: 1%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 3%;
	background-size: cover;
}
.btn-lg {
	margin-top: 0%;
	margin-bottom: 1%;
}
.modal-body {
	text-align: center;
	font-size: 2em;
}
.modal-title {
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}
.modal-footer {
	color: d3d3d3;
}
.viewport {
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	height: 90%;
	background-size: cover;
	border-radius: 15px;
}
#play {
	background-image: url(http://goo.gl/4RzZmI);
}
#death {
	margin-top: 0px;
	font-family: impact;
	background-image: url(http://goo.gl/aOXkIg);
	background-size: cover;
	display: none;
	text-align: center;
}
#roid {
	position: absolute;
	top: 10%;
	left: 300px;
	right: 500px;
	width: 80px;
	height:	80px;
	border-radius: 50%;
	background-image: url(http://goo.gl/7U0GaK);
	margin-right: auto;
	margin-left: auto;
	background-size: cover;
}
#announce {
	position: center;
	width: 80%;
	height: 200px;
	font-weight: bold;
	color: black;
	font-size: 4em;
	margin-top: inherit;
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	text-align: center;
}
.finalScore {
	position: absolute;
	width: 60%;
	height: 25%;
	top: 40%;
	margin-top: 0%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 25%;
	text-align: center;
	font-size: 4em;
	color: black;
}
h2 {
	font-weight: bold;
}
#player2Go {
	position: absolute;
	bottom: 100px;
	left: 43%;
	right: 43%;
	background-color: green;
	color: black;
}
